<div class="col-md-6" id="separHead">
  <h2 class="text-center">Ajouter Employé</h2>
  <form>
    <div class="form-group">
      <label for="name">Nom:</label>
      <input type="name" [(ngModel)]="user.name" placeholder="Nom" name="name" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="designation">Designation:</label>
      <input [(ngModel)]="user.designation" placeholder="Designation" name="designation" class="form-control"
        id="designation">
    </div>

    <div class="form-group">
      <label for="salary">Salaire:</label>
      <input [(ngModel)]="user.salary" placeholder="Salaire" name="salary" class="form-control" id="salary">
    </div>

    <button class="btn btn-success" (click)="createEmployee()">Créer</button>
  </form>
</div>